page-home {

  ion-content {
      background: antiquewhite;
  }

  .textClass {
    font-size: 24px;
    text-align: justify;
    font-family: 'SILEOTSR', sans-serif;
    line-height: 160%;
  }
  .home{
    color: black;
    background: antiquewhite;
  }
}
